<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <title> Document</title>
</head>
<body>
    <div id="centre">
        
        <%- include('_header') -%>


    <!-- if user is signed in then show below form...for posting the post -->
    <% if(locals.user){%>
    <div class="post-form">
        <h1>Posts </h1>
        <div class="input-form">
            <form action="/post/create" method="post">
                <!-- <input type="text" required name="content"> -->
                <textarea name="content" id="content" cols="30" rows="10" placeholder="Typr here...." required></textarea>
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
    <%}%>


<!-- Example -->


<div class="post-main">
   
        <% for(post of posts){%>
        <div class="post-container">

            <div class="post-update">
                <% if(locals.user && (locals.user.id == post.user.id)){%>
                    <small>
                        <a href="/post/update/<%=post._id%>">update</a>
                    </small>
                <%}%>
            </div>
            <div class="post-name">
                <p>
                    <%=post.user.name %>
                </p>
            </div>
        
            <!-- <div class="post-date">
                <p>
                    <%= post.createdAt %>
                </p>
            </div> -->
        
            <div class="post-content">
                <p class="content">
                    Post Section:<%= post.content %>
                </p>
                <% if(locals.user && (locals.user.id == post.user.id)){%>
                    <small>
                        <a href="/post/destroy/<%=post._id%>">X</a>
                    </small>
                <%}%>
            </div>
        
            <div class="comment-section">
                <% for(comment of post.comments){%>
                <div class="comment-name">
                    <p>
                        <%=comment.user.name%>
                    </p>
                </div>
                <!-- <div class="comment-date">
                    <p>
                        <%=comment.createdAt%>
                    </p> 
                </div>-->
        
                <div class="comment-content" >
                    <p class="content">
                       Comment Section: <%=comment.content%>
                    </p>
                    <small>
                    <%if(locals.user && (locals.user.id == comment.user.id)){%>
                        <p>
                            <a href="/comment/destroy/<%=comment._id%>">X</a>
                        </p>
                        <%}%>
                    </small>
                </div>
        
                <%}%>
            </div>
        
            <div class="comment-form">
                <%if(locals.user){%>
                    <form action="/comment/create" method="post">
                        <input type="text" name="content" required placeholder="type Comment">
                        <input type="hidden" name="post" value="<%=post._id%>">
                        <input type="submit" value="Add comment">
                    </form>
                <%}%>
            </div>
        </div>
            <%}%>
</div>

    <%- include('_footer') -%>

    

</body>
</html>