<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <title> Document</title>
</head>
<body>
    <div id="centre">
        <h1>
            Welcome To Codeial Home Page
        </h1>
    </div>
    <!--we have set the user in locals durinf passport.setAuthenticatedUser-->
    <div id="main">

        <% if(locals.user){%>
            <h1><%=user.name%></h1>
            <a href="/users/signout">Sign Out</a>
        <%}else{%>
            <ul>
                <li>
                    <a href="/users/signin">Sign In</a>
                </li>
                <li>
                    <a href="/users/signup">Sign Up</a>
                </li>
            </ul>
        <%}%>
    </div>
    <% if(locals.user){%>
    <div class="post-list">
        <h1>Posts </h1>
        <div class="input-form">
            <form action="/post/create" method="post">
                <!-- <input type="text" required name="content"> -->
                <textarea name="content" id="content" cols="30" rows="10" placeholder="Typr here...."></textarea>
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
    <%}%>
    <div id="Post-list">
        <% for(post of posts){%>
            <ul>
                <li>
                    <p>
                        <%=post.content%>
                        <br>
                        User Name: <%=post.user.name %>
                    </p>
                </li>

                <div class="posts-comment-list">
                    <ul id="post-comments-<%=post._id%>">
                        <% for(comment of post.comments){%>
                            <p>
                                <%=comment.content%>
                                <br>
                                <%=comment.user.name%>
                            </p>
                        <%}%>
                    </ul>
                </div>
                <div class="comment-feed">
                    <%if(locals.user){%>
                        <form action="/comment/create" method="post">
                            <input type="text" name="content" required placeholder="type Comment">
                            <input type="hidden" name="post" value="<%=post._id%>">
                            <input type="submit" value="Add comment">
                        </form>
                    <%}%>
                </div>
            </ul>
        <%}%>
    </div>
    

    

</body>
</html>